body {
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

input {
  margin-top: 20px;
  margin-bottom: 15px;
}

.card{
  border: burlywood solid;
  border-radius: 8px;
}

#login {
  margin-top: 250px;
}